
.prodajda{
    width: 100%;

}
.section-box{
    width: 100%;
}
.section__title{
    width: 100%;

    font-weight: 600;
    font-size: 28px;
    line-height: 32px;

    color: #333333;
}

.prodajda-card__list{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.prodajda-card__item{
    z-index: -1;

    width: 210px;
    padding: 10px;

    text-align: center;

    box-shadow: -1px 4px 11px -1px rgba(34, 60, 80, 0.2);

    border-radius: 4px;

}
.card-head__box{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-status{
    width: 69px;
    height: 24px;

    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;

    background: #E93232;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;


}
.prodajda-card__item:hover{
    box-shadow: -1px 2px 11px 5px rgba(34, 60, 80, 0.2);
}
.prodajda-card__item:hover  .card-status{
    display: flex;
}
.card-head__icon-box{
    margin-left: auto;

    display: flex;
    gap: 10px;
    align-items: center;

    color: #01579B;
}
.card-icon:hover{
    color: #E93232;
}
.card-body__box{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.card-title{
    margin: 5px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: start;

    color: #333333;
}
.card-stars__box{
    width: 100%;

    display: flex;
    gap: 15px;

    font-size: 11px;
    line-height: 13px;


    color: #999999;
}
.card-price__box{
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    color: #060F42;
}

.purchase-page__link{
    width: 73px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #06A56C;
    border-radius: 4px;

    font-weight: 700;
    font-size: 12px;
    line-height: 12px;

    color: #F4F8FB;
}
@media screen and(max-width:400px) {
    .prodajda-card__list{
        width: 100%;
        gap: 5px;
        justify-content: center;
    }
    
    .prodajda-card__item{
        width: 40%;
        padding: 10px;
    
        text-align: center;
    
        box-shadow: -1px 4px 11px -1px rgba(34, 60, 80, 0.2);
    
        border-radius: 4px;
    
    }
    .card-head__icon-box{
        font-size: 13px;
    }
    .card-title{
    font-size: 11px;
}
.card-stars__box{

    font-size: 9px;
}
.card-price__box{
    font-size: 13px;
}

.purchase-page__link{
    width: 65px;
    height: 26px;

    font-weight: 600;
    font-size: 10px;
}
    
}